In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
datos_completos = pd.read_csv("C:/Users/axel9/Documents/Intelligent_Sys/accelerometer/accelerometer.csv")
datos_completos.head(10)

   wconfid  pctid      x      y      z
0        1     20  1.004  0.090 -0.125
1        1     20  1.004 -0.043 -0.125
2        1     20  0.969  0.090 -0.121
3        1     20  0.973 -0.012 -0.137
4        1     20  1.000 -0.016 -0.121
5        1     20  0.961  0.082 -0.121
6        1     20  0.973 -0.055 -0.109
7        1     20  1.000  0.012 -0.133
8        1     20  0.969 -0.102 -0.141
9        1     20  0.973 -0.059 -0.125

In [4]:
datos_completos.isnull()

        wconfid  pctid      x      y      z
0         False  False  False  False  False
1         False  False  False  False  False
2         False  False  False  False  False
3         False  False  False  False  False
4         False  False  False  False  False
...         ...    ...    ...    ...    ...
152995    False  False  False  False  False
152996    False  False  False  False  False
152997    False  False  False  False  False
152998    False  False  False  False  False
152999    False  False  False  False  False

[153000 rows x 5 columns]

In [5]:
datos_completos.notnull()

        wconfid  pctid     x     y     z
0          True   True  True  True  True
1          True   True  True  True  True
2          True   True  True  True  True
3          True   True  True  True  True
4          True   True  True  True  True
...         ...    ...   ...   ...   ...
152995     True   True  True  True  True
152996     True   True  True  True  True
152997     True   True  True  True  True
152998     True   True  True  True  True
152999     True   True  True  True  True

[153000 rows x 5 columns]

In [6]:
datos_completos.dropna()

        wconfid  pctid      x      y      z
0             1     20  1.004  0.090 -0.125
1             1     20  1.004 -0.043 -0.125
2             1     20  0.969  0.090 -0.121
3             1     20  0.973 -0.012 -0.137
4             1     20  1.000 -0.016 -0.121
...         ...    ...    ...    ...    ...
152995        3    100  1.051  0.090 -0.262
152996        3    100  0.918  0.039 -0.129
152997        3    100  1.156 -0.094 -0.227
152998        3    100  0.934  0.203 -0.172
152999        3    100  1.199 -0.176  0.109

[153000 rows x 5 columns]

In [8]:
datos_completos.bfill()

        wconfid  pctid      x      y      z
0             1     20  1.004  0.090 -0.125
1             1     20  1.004 -0.043 -0.125
2             1     20  0.969  0.090 -0.121
3             1     20  0.973 -0.012 -0.137
4             1     20  1.000 -0.016 -0.121
...         ...    ...    ...    ...    ...
152995        3    100  1.051  0.090 -0.262
152996        3    100  0.918  0.039 -0.129
152997        3    100  1.156 -0.094 -0.227
152998        3    100  0.934  0.203 -0.172
152999        3    100  1.199 -0.176  0.109

[153000 rows x 5 columns]